In [2]:
import pandas as pd
import numpy as np

In [3]:
data3 = pd.read_csv("Cambios_limpieza.csv", index_col=0)

In [4]:
data3.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates', 'latitude',
       'longitude'],
      dtype='object')

Ejercicios apply

In [5]:
# 1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi 
# son de tipo object pero en realidad deberían ser numéricas.
# Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [27]:
def convertir_a_numerico(dataframe, columnas):
    for columna in columnas:
        # Verificar si la columna es de tipo objeto (cadena) antes de aplicar el reemplazo
        if dataframe[columna].dtype == 'O':
            dataframe[columna] = pd.to_numeric(dataframe[columna].str.replace(',', '.'), errors='coerce')

# Lista de columnas que se deben modificar
lista_col = ['landarea', 'armedforcessize', 'birthrate', 'co2-emissions', 'cpi',
             'gdp', 'population', 'urban_population', 'latitude', 'longitude', 'density']

# Aplicar la función a las columnas deseadas en tu propio DataFrame
convertir_a_numerico(data3, lista_col)

# Mostrar el DataFrame después del cambio
print("\nDataFrame después del cambio:")
print(data3)

# Verificar tipos de datos después del cambio
print("\nTipos de datos después del cambio:")
print(data3.dtypes)

DataFrame después del cambio:
         country  density abbreviation  agriculturalland  landarea  \
0    Afghanistan     60.0           AF              58.1   652.230
1        Albania    105.0           AL              43.1    28.748
2        Algeria     18.0           DZ              17.4       NaN
3        Andorra    164.0           AD              40.0   468.000
4         Angola     26.0           AO              47.5       NaN
..           ...      ...          ...               ...       ...
190    Venezuela     32.0           VE              24.5   912.050
191      Vietnam    314.0           VN              39.3   331.210
192        Yemen     56.0           YE              44.6   527.968
193       Zambia     25.0           ZM              32.1   752.618
194     Zimbabwe     38.0           ZW              41.9   390.757

     armedforcessize  birthrate  callingcode capital/majorcity  co2-emissions  \
0              323.0      32.49         93.0             Kabul          8.672
1                9.0      11.78        355.0            Tirana          4.536
2              317.0      24.28        213.0           Algiers        150.006
3                NaN       7.20        376.0  Andorra la Vella        469.000
4              117.0      40.73        244.0            Luanda         34.693
..               ...        ...          ...               ...            ...
190            343.0      17.88         58.0           Caracas        164.175
191            522.0      16.75         84.0             Hanoi        192.668
192             40.0      30.45        967.0             Sanaa         10.609
193             16.0      36.19        260.0            Lusaka          5.141
194             51.0      30.68        263.0            Harare         10.983

     ...  physiciansperthousand  population populationlaborforceparticipation  \
0    ...                   0.28         NaN                              48.9
1    ...                   1.20         NaN                              55.7
2    ...                   1.72         NaN                              41.2
3    ...                   3.33      77.142                               NaN
4    ...                   0.21         NaN                              77.5
..   ...                    ...         ...                               ...
190  ...                   1.92         NaN                              59.7
191  ...                   0.82         NaN                              77.4
192  ...                   0.31         NaN                              38.0
193  ...                   1.19         NaN                              74.6
194  ...                   0.21         NaN                              83.1

     taxrevenue  totaltaxrate unemploymentrate  urban_population  \
0           9.3          71.4            11.12               NaN
1          18.6          36.6            12.33               NaN
2          37.2          66.1            11.70               NaN
3           NaN           NaN              NaN            67.873
4           9.2          49.1             6.89               NaN
..          ...           ...              ...               ...
190         NaN          73.3             8.80               NaN
191        19.1          37.6             2.01               NaN
192         NaN          26.6            12.91               NaN
193        16.2          15.6            11.43               NaN
194        20.7          31.6             4.95               NaN

                      coordinates  latitude  longitude
0      ('33.93911 ', '67.709953')       NaN        NaN
1     ('41.153332 ', '20.168331')       NaN        NaN
2      ('28.033886 ', '1.659626')       NaN        NaN
3      ('42.506285 ', '1.521801')       NaN        NaN
4    ('-11.202692 ', '17.873887')       NaN        NaN
..                            ...       ...        ...
190     ('6.42375 ', '-66.58973')       NaN        NaN
191  ('14.058324 ', '108.277199')       NaN        NaN
192   ('15.552727 ', '48.516388')       NaN        NaN
193  ('-13.133897 ', '27.849332')       NaN        NaN
194  ('-19.015438 ', '29.154857')       NaN        NaN

[195 rows x 36 columns]

Tipos de datos después del cambio:
country                               object
density                              float64
abbreviation                          object
agriculturalland                     float64
landarea                             float64
armedforcessize                      float64
birthrate                            float64
callingcode                          float64
capital/majorcity                     object
co2-emissions                        float64
cpi                                  float64
cpichange                            float64
currency-code                         object
fertilityrate                        float64
forestedarea                         float64
gasolineprice                         object
gdp                                  float64
grossprimaryeducationenrollment      float64
grosstertiaryeducationenrollment     float64
infantmortality                      float64
largestcity                           object
lifeexpectancy                       float64
maternalmortalityratio               float64
minimumwage                           object
officiallanguage                      object
outofpockethealthexpenditure         float64
physiciansperthousand                float64
population                           float64
populationlaborforceparticipation    float64
taxrevenue                           float64
totaltaxrate                         float64
unemploymentrate                     float64
urban_population                     float64
coordinates                           object
latitude                             float64
longitude                            float64
dtype: object

In [28]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country                            195 non-null    object
 1   density                            195 non-null    float64
 2   abbreviation                       188 non-null    object
 3   agriculturalland                   188 non-null    float64
 4   landarea                           165 non-null    float64
 5   armedforcessize                    166 non-null    float64
 6   birthrate                          189 non-null    float64
 7   callingcode                        194 non-null    float64
 8   capital/majorcity                  192 non-null    object
 9   co2-emissions                      183 non-null    float64
 10  cpi                                175 non-null    float64
 11  cpichange                          179 non-null    float64
 12  currency-code                      180 non-null    object
 13  fertilityrate                      188 non-null    float64
 14  forestedarea                       188 non-null    float64
 15  gasolineprice                      175 non-null    object
 16  gdp                                0 non-null      float64
 17  grossprimaryeducationenrollment    188 non-null    float64
 18  grosstertiaryeducationenrollment   183 non-null    float64
 19  infantmortality                    189 non-null    float64
 20  largestcity                        189 non-null    object
 21  lifeexpectancy                     187 non-null    float64
 22  maternalmortalityratio             181 non-null    float64
 23  minimumwage                        150 non-null    object
 24  officiallanguage                   190 non-null    object
 25  outofpockethealthexpenditure       188 non-null    float64
 26  physiciansperthousand              188 non-null    float64
 27  population                         39 non-null     float64
 28  populationlaborforceparticipation  176 non-null    float64
 29  taxrevenue                         169 non-null    float64
 30  totaltaxrate                       183 non-null    float64
 31  unemploymentrate                   176 non-null    float64
 32  urban_population                   45 non-null     float64
 33  coordinates                        195 non-null    object
 34  latitude                           0 non-null      float64
 35  longitude                          0 non-null      float64
dtypes: float64(27), object(9)
memory usage: 56.4+ KB

In [ ]:
# 2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [ ]:
# 3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

Ejercicios groupby

In [ ]:
# 1. ¿Cuál es la densidad de población promedio por continente?

In [ ]:
# 2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [ ]:
# 3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [ ]:
# 4. ¿Cuál es el salario mínimo por continente?

In [ ]:
# 5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
    # Primero, necesitas calcular la tasa de impuestos total para cada continente. 
    # La tasa de impuestos total se encuentra en la columna "total_tax_rate".
    # Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".
    # Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total 
    # por persona por kilómetro cuadrado.
    # Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [ ]:
# 6. ¿Cuál es el porcentaje de población urbana promedio por continente?